<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        {% if NOINDEX %}
        <meta name="robots" content="noindex">
        {% endif %}
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/timeline.css"/>
        {% endblock head %}
    </head>
    <body style="background-image: url({{ BACKGROUND_IMAGE }});">
        <header class="header">
            <div class="top">
                <div class="wrap">
                    <div class="logo">
                        <h1><a href="{{ SITEURL }}" title="{{ SITESUBTITLE }}">{{ SITENAME }}</a></h1>
                        <p>{{ DESCRIPTION }}</p>
                    </div>
                </div>
            </div>

            {% if MONTH_ARCHIVE_SAVE_AS %}
            <nav class="date">
            {% for year in dates | map(attribute='date.year') | unique %}
                <div class="wrap">
                    <ul class="year">
                    {{ year }} :
                    {% for month in dates | map(attribute='date') | selectattr('year', 'equalto', year) | map('strftime', '%Y %m %B') | unique %}
                        {% set Y, m, B = month.split() %}
                        <li data-year="{{ Y }}" data-month="{{ m }}">
                            <a href="/archive/{{ Y }}-{{ m }}/" title="Archives {{ B }} {{ Y }}">{{ B }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            </nav>
            {% endif %}
        </header>

        {% block content %}
        {% endblock %}
    </body>
</html>
